<div class="container-fluid py-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Pedidos</h2>
    <button class="btn btn-primary" routerLink="/pedidos/novo">
      <i class="bi bi-plus-lg"></i> Criar Pedido
    </button>
  </div>

  <div class="card mb-4 shadow-sm">
    <div class="card-body">
      <div class="input-group">
        <input 
          type="text" 
          class="form-control" 
          placeholder="Buscar pedido..." 
          [(ngModel)]="searchTerm"
          (keyup.enter)="onSearch()">
        <button class="btn btn-outline-secondary" type="button" (click)="onSearch()">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="card shadow-sm">
    <table class="table table-hover align-middle mb-0">
      <thead class="bg-light">
        <tr>
          <th class="ps-4">ID</th>
          <th>Cliente</th>
          <th>Vendedor</th>
          <th>Data</th>
          <th class="text-center">Itens</th>
          <th *ngIf="isAdmin" class="text-end pe-4">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td class="ps-4 font-monospace small">{{ order.id.substring(0, 4) }}...</td>
          <td class="fw-bold">{{ order.client?.razaoSocial }}</td>
          <td>{{ order.user?.name }}</td>
          <td>{{ order.createdAt | date:'dd/MM/yyyy HH:mm' }}</td>
          <td class="text-center">
                {{ order.itemsCount }}
          </td>
          <td class="text-end pe-4">
            <button class="btn btn-sm btn-outline-primary me-2" [routerLink]="['/pedidos', order.id]">
              <i class="bi bi-eye"></i>
            </button>
            
            <button *ngIf="isAdmin" class="btn btn-sm btn-outline-danger" (click)="onDelete(order.id)">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
        
        <tr *ngIf="!isLoading && orders.length === 0">
          <td colspan="6" class="text-center py-4 text-muted">
            Nenhum pedido encontrado.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>